/*https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
.centeraligned{
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: center;
}
.butt{padding: 10px 20px;
background-color: #4CAF50;
color: white;
text-decoration: none;
border-radius: 5px;
}
