<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{Styles.css}">
    <title>All Journal Entries</title>
    <style>

    </style>
</head>
<body>
<div class="vertical-line"></div>
<header>
    <h1 class="titel-text">On this Page You can see all Your Journal Entries </h1>
</header>
<h1>All Journal Entries</h1>
<br>
<a th:href="@{/}">
    Make new Journal
</a>
<br>
<br>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Content</th>
        <th>Category</th>
        <th>Tags</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="journal : ${journals}">
        <td th:text="${journal.entryId}"></td>
        <td th:text="${journal.date}"></td>
        <td th:text="${journal.content}"></td>
        <td th:text="${journal.category}"></td>
        <td th:text="${journal.tags}"></td>
        <td>
        <form th:action="@{'/journals/' + ${journal.entryId}}" th:method="delete">
            <input type="hidden" name="_method" value="delete"/>
            <button type="submit">Delete</button>
        </form>
            <br>
            <form th:action="@{'/journals/' + ${journal.entryId}}" method="get">
                <input type="hidden" name="_method" value="get"/>
                <button type="submit">Update</button>
            </form>
        </td>
    </tr>
    </tbody>

</table>

</body>
</html>
