<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="Styles.css">
    <title>All Journal Entries</title>
</head>
<body>
<header>
    <h1 class="titel-text">On this Page Yeou can see all Your Journal Entries</h1>
</header>
<h1>All Journal Entries</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Content</th>
        <th>Category</th>
        <th>Tags</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop through journal entries -->
    <tr th:each="journal : ${journals}">
        <td th:text="${journal.entryId}"></td>
        <td th:text="${journal.date}"></td>
        <td th:text="${journal.content}"></td>
        <td th:text="${journal.category}"></td>
        <td th:text="${journal.tags}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/}">Go back to Journal page</a>
</body>
</html>