<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Journal Submitted</title>
</head>
<body>
<h1>Journal Entry Submitted</h1>

<p>Your journal entry has been successfully submitted!</p>

<p>Category: <span th:text="${journal.category}"></span></p>
<p>Content: <span th:text="${journal.content}"></span></p>
<p>Tags: <span th:text="${journal.tags}"></span></p>

<form th:action="@{/}" method="get">
    <button type="Back">Make new Journal </button>
</form>
<!--<a th:href="@{/journals}">Here you can see all your Journal Entries</a>-->
<form th:action="@{/journals}" method="get">
    <button type="submit">Go to all your Journal Entries</button>
</form>

</body>
</html>
