<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{indexSite.css}">
    <title> Digital Learning Journal</title>
    <style>

    </style>
</head>
<body class="centeraligned">
<header>
    <div>
        <h1 class="titel-text">Digital Learning Journal</h1>
        <img src="https://img.freepik.com/premium-photo/book-with-neon-lights-it_1020200-17659.jpg?w=740" class="titel-image" alt="Placeholder Image">
    </div>
    <br>
</header>
<form class="form-container" th:action="@{/}" th:object="${journal}" method="post">

    <label for="category"></label>
    <input type="text" class="category" id="category" th:field="*{category}" placeholder="Enter category">
    <label for="content"></label>
    <input type="text" class="tags" id="content"  th:field="*{content}"  placeholder="You can write something...">

    <label for="tags"></label>
    <input type="text" class="tags" id="tags" th:field="*{tags}" placeholder="Enter tags">

    <section>
        <br>
        <button type="submit" class="butt">Submit</button>
        <a th:href="@{/journals}" class="butt">
            Go to all your Journal Entries
        </a>
    </section>

</form>
</body>
</html>
