.titel-image
{
 height:50vh;
    width:100%;
    object-fit:cover;
    filter:invert(0.30);
    filter: brightness(0.1);
    filter: saturate(1);
    filter: blur(0.0rem);
    filter: opacity(70%);

}
.title-container
{
position: relative;
height: 40vh;
width: 50vw;
align.center;
}
.titel-text
{
 color: rgb(204, 61, 61);
    position: absolute;
    top: 85%;
    left: 20%;
    transform: translate(-50%, -50%);
}
